
html{
  position:relative; 
  min-height: 100%;
}

body{
    margin: 0;

    
}


p{
    
    font-family: 'Open Sans', sans-serif;


color: 1c1c1c;
display: block;
    text-align: left;
padding-left: 10%;
padding-right: 0%;
    line-height: 2;
font-size: 1.1em;
    
    
    }
    

h1 {
font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;


    
font-size: 2.5em;

}

h1-footer {
font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: 4c4c4c;
margin-bottom: 70px;
margin-top:100px;
display: block;
    
font-size: 2.5em;

}

h2 {
font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
font-size: 2em;


}


h2-footer {
font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
font-size: 2em;
margin-bottom:20px;

color: #1c1c1c;
display: block;

}





footerlinks {
font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;

color: #1c1c1c;


    
font-size: 1.6em;

}






.footer{

    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    background-color: white;
    height: auto;
    width: 100%;

    
}

#footer-about{

    background-color:#F2F2F2;
    }



.pageContentWrapper{
  margin-bottom:200px;
} 

.pageend{

    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    background-color: 1c1c1c;
    height: 200px;
    width: 100%;
    padding-bottom: 0px;
    
    position: absolute;
    bottom:0;

    
}

#p-copyright{
    
    color: white;
    padding-left: 0;
    display: block;
    font-size: 1em;
    color: 9c9c9c;
    line-height: 0px;
    
    
    
}

#p-copyright-text{
    
    color: white;
    padding-left: 0;
    display: block;
    font-size: 1em;
    color: 7c7c7c;
}

.contact-content{

    margin-top: 50px;

    
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    background-color: #F2F2F2;
    height: auto;
    width: 100%;

    
}


.contact-margin{
    background-color: white;
    width: 100%;
    height: 50px;
    
}


a.footermail{

font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
font-size: 2em;
margin-bottom:20px;
color: #526BFF;
display: block;
    width: auto;
    
    
    }

a.footerlink{

    font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: #526BFF;


    
font-size: 1.6em;
    
    
    }




#allafragan{
    
    background-image: url(allafragan.png);
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height: 100%;
}


#rushroute{
    
    background-image: url(rushroute.png);
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height: 100%;
}


#portfolioweb{
    
    background-image: url(portfolioweb.png);
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height: 100%;
}


#masterthesis{
    
    background-image: url(masterthesis.png);
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height: 100%;
}

overtitle {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: 4C4C4C;
display: block;
text-align: left;
padding-top: 5%;
padding-left: 5%;
    
padding-right: 12%;

    
font-size: 1em;

}


projecttitle {
font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: black;
display: block;
    text-align: left;
padding-top: 5%;
padding-left: 5%;

    
font-size: 2em;

}


undertitle {
font-family: 'Open Sans', sans-serif;


color: #4C4C4C;
display: block;
    text-align: left;
padding-left: 5%;

    
font-size: 1.3em;

}


projecttext {
font-family: 'Open Sans', sans-serif;


color: #4C4C4C;
display: block;
    text-align: left;
padding-left: 5%;
padding-top: 5%;
    padding-right: 5%;
    
font-size: 1em;
   padding-bottom: 5%;
       line-height: 1.6;
    

}


readmore{
font-family: 'Varela Round', sans-serif;


color: #2646FF;
display: block;
    text-align: left;
padding-left: 5%;
padding-top: 0%;
    padding-right: 5%;
    text-decoration: none;
font-size: 1.1em;
   padding-bottom: 5%;
       line-height: 2;
    

}


comingsoon{



color: #5C5C5C;

    

}


info-block-title{
    
    font-family: 'Varela Round', sans-serif;

text-decoration: none;
color: 2645FF;
display: block;
    text-align: left;
padding-left: 90px;
    

    padding-right: 0%;
    
font-size: 1.6em;
   padding-bottom: 5%;
       
    
}

info-block-mytitle{
    
     font-family: 'Open Sans', sans-serif;
font-style:normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: black;
text-align: left;
padding-top: 0%;
padding-left: 90px;
display:block;
    
padding-right: 0%;
line-height: 1;
    
font-size: 1.2em;
    width: auto;
    
    
}

info-block-organisation{
    
        font-family: 'Open Sans', sans-serif;
font-style:normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: 6C6C6C;
text-align: left;
padding-top: 10px;
    padding-bottom: 10px;
padding-left: 90px;
display: block;    
    
padding-right: 0%;
line-height: 1.2;
    
font-size: 1.1em;
    
    
}


info-block-years{
    
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: lighter;
font-variant: normal;
text-transform: none;
color: 6C6C6C;
display: block;
text-align: left;
padding-top: 0%;
padding-left: 90px;
    
padding-right: 0%;

    line-height: 1;
font-size: 1em;
    padding-bottom: 10px;
    
    
}











.menu{

    height: 80px;
    width: 100%;
    
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
   
 
    
  
}


.menu-box{


    
    width: 100%;
   
    max-width: 1100px;
    display: flex;
    justify-content: flex-end;
   
}


.works-end{

    height: 50px;
    width: 100%;
    background-color: #F2F2F2;
    
    }

.works-top{

    height: 0px;
    width: 100%;
    background-color: #F2F2F2;
    
    }


.menu-item{

    font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: black;
    text-decoration: none;
font-size: 1.5em;
  
    padding-right: 60px;
    align-self:flex-end;
    right: 0px;
    
    
}


.menu-item:hover{

    color: #2646FF;
    
    
}



.biglink{

    font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: #2646FF;
    text-decoration: none;
font-size: 2em;
line-height: 100px;
}

.biglink:hover{


    text-decoration: underline;
    transition-duration: 0.4s;
    margin-left: 10px;

}


.works{

    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    
}




.skills-wrapper{    
 
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    
    height: auto;
    width: 100%;
    background-color: 2645FF;
    margin-top: 50px;

}


.skills-box{
    
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 300px;
    width: auto;
    height: auto;
    max-width: 1100px;
    background-color: 2645FF;
    flex-grow: 1;

    

}

.skill{
    
    float: left;
    width: 33.33%;
    background-color: 2645FF;
    padding-bottom: 50px;
    background-color: 2645FF;
     
    
}

skill-block-title{
    
    
       font-family: 'Varela Round', sans-serif;

text-decoration: ;
color: white;

  
padding-left: 20px;
margin-top: 50px;
    padding-right: 0px;
    
font-size: 1.6em;
   padding-bottom: 50px;
       width: auto;
    float:left;
    display: block;
    
    

}

.skill-img{
vertical-align: baseline;
    width: 60px;
    padding-left: 0px;
    float: left;
}

skill-block-skill{
    
        font-family: 'Open Sans', sans-serif;
font-style:normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: white;
text-align: left;
padding-top: 0px;
    padding-bottom: 10px;
padding-left: 20px;
display: block;    
width: auto;
line-height: 1.4;
    
font-size: 1.1em;
    
    
}



.table2{
    display: inline-block;
}

.table3{
    float: right;
}

.instawrapper{

    
    
    
    
    
    height: auto;
    width: 100%;
    background-color:white;
    text-align: center;
   

    
}


.instabox{

    padding-top: 70px;
    padding-bottom: 70px;
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 1100px;
    background-color:white;
   
}




.textarea{

    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    
    height: auto;
    width: 100%;

    
}


.project{


    margin: 50px;
    margin-bottom: 0px;
    height: 300px;
    width: auto;
    height: auto;
    max-width: 1100px;
    background-color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   
  
    
   
}


.project:hover
{
        transition-duration: 0.4s;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.textarea-box{
    
    width: 100%;

    max-width: 1200px;
    display: flex;
    
    
    }

.maintext{


    margin: 50px;
    width: auto;
    height: auto;
    max-width: 800px;
    
    
   
}

.img-block{


    float: left;
    width: 50%;
  
}


.text-block{


    float: left;
    width: 50%;
    background-color: white;
}


.project-img{

    
   max-width: 100%;
    max-height: 100%;
    display: none;
    
   
    
    
}




.about-me{
 text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    
    height: auto;
    width: 100%;
    background-color:white;
    

}



.about-me-box{

   
    
    
    
    margin: 50px;
    margin-bottom: 0px;
    height: 300px;
    width: auto;
    height: auto;
    max-width: 1100px;
    background-color: white;
    flex-grow: 1;
}


abouttitle {
font-family: 'Varela Round', sans-serif;


color: #2646FF;
display: block;
    text-align: left;
padding-left: 10%;

    padding-right: 5%;
    
font-size: 2em;
   padding-bottom: 5%

}




.btn {
  border: none;
  background-color: #2646FF;
  padding: 14px 28px;
  font-size: 20px;
    color: white;
  cursor: pointer;
  display:block;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    margin-left: 10%;
    margin-top: 10%;

}

a{
    
    text-decoration: none;
    
    }


.infobox{

 text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
    
    height: auto;
    width: 100%;
    background-color:white;
    
}


infotitle{
    
    font-family: 'Varela Round', sans-serif;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: black;
display: inline-block;
    text-align: left;
padding-top: 5%;
padding-left: 0%;

    
font-size: 2em;
    
    }



.infobox-box{
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 100px;
    height: 300px;
    width: 1110px;
    height: auto;
    max-width: 1100px;
    background-color: white;
}

@media (max-width: 1100px) {

#about-image
    {   float: left;
        width: 100%;} 
    
#about-text
    { float: left;
width: 100%;}
    
#expand-early{ margin:0px;}
    

abouttitle {
margin-top: 30px;
 
}   
    
    
    p{
   
padding-right: 10%;
    

    
    
    }
    
       
    }
@media (max-width: 800px) {
    
    
    .project    { margin: 10px;
    display: block;}
    
    .project-img{ 
    display: block;}
    
    .about-me-box{ margin: 0px;}
    
    .btn {
        
        margin-left:20px;
        }
    
    .skill{


    float: left;
    width: 50%
    }   
    
    #skill-last{


    float: left;
    width: 100%;
    }  
    
    .skills-box{
    
    margin: 20px;
    margin-bottom: 0px;
        text-align: center;
   

}
    
    .table2{
    float: right;
}

.table3{
    float: left;
}

    
    
    
    info-block-title{
    

       
    margin-left: 20px;
    margin-right: 20px;
}

info-block-mytitle{
    

   margin-left: 20px;
    margin-right: 20px;
    
}

info-block-organisation{
    
margin-left: 20px;
    margin-right: 20px;
    
    
}


info-block-years{
    
margin-left: 20px;
    margin-right: 20px;
    
}
    
    
    
   
    .works-top{

    height: 50px;
    width: 100%;
    background-color: #F2F2F2;
    
    }
    
    
    .menu-item{
        padding-bottom: 30px;
        }
    

    .img-block{


    float: left;
    width: 100%
    }
.text-block{


    float: left;
    width: 100%;
    }  
    
    
   

  projecttext {


    padding-bottom: 10%;


}  
  
  abouttitle {
margin-top: 30px;
      margin-left: 20px;
      padding-left: 0px;

}  
    
    
    info-block-title{
    margin-top: 100px;
        width: auto;
    }
    
    
    p{
   
padding-right: 10%;
        padding-left: 0px;
        margin-left: 20px;
    

    
    
    }
    
    
  } 





  @media (max-width: 430px) {  
    
    h1 {

 
font-size: 2em;

}
      
h1-footer {

 
font-size: 2em;

}
    
      
h2 {

 
font-size: 1.5em;

}
      
info-block-mytitle{ }   
      
a.footermail{font-size: 1.5em;

}
      
h2-footer {

 
font-size: 1.5em;

}
   
  
  p{
   
font-size: 0.9em;
      padding-right: 0px;
      margin-right: 20px;
    

    
    
    }    
      
      
.skill{


    float: left;
    width: 100%;
        padding-bottom: 0px;
    }        
      
 
    .table2{
    float: left;
}
      
.skills-wrapper{


    
        padding-bottom: 50px;
    } 
      
      
      
      info-block-title{
    

       
    padding-left: 0px;
    margin-right: 20px;
}

info-block-mytitle{
    

   padding-left: 0px;
    margin-right: 20px;
    
}

info-block-organisation{
    
padding-left: 0px;
    margin-right: 20px;
    
    
}


info-block-years{
    
padding-left: 0px;
    margin-right: 20px;
    
}
      
      
.biglink{

 
font-size: 1.5em;

}
      
footerlinks {    

    
font-size: 1.3em;    
    
    }
      
      
a.footerlink {    

    
font-size: 1.3em;    
    
    }      
    
    .maintext{


    margin: 15px;
    margin-right: 0px;
    
   
}
    
    
overtitle {


    
font-size: 0.9em;

}


projecttitle {

    
font-size: 1.5em;

}


undertitle {

font-size: 1.2em;

}


projecttext {

font-size: 0.9em;
    padding-bottom: 10%;


}
    
  .menu-item{

   
font-size: 1.2em;
  
    padding-right: 30px;
    align-self:flex-end;
    right: 0px;
      padding-bottom: 30px;
    
    
}  
    
    
    }


